header {
  background-color: rgba(158, 158, 158, 0.507);
  color: rgb(44, 44, 44);
};

.navbar {
  text-align:center;
  width: 100%;
}
.navbar ul {
  display:inline-block;
}
.navbar li {
  float:left;
}
.navbar li + li {
  margin-left:20px;
}